@import '../../assets/scss/helpers';


.sliderContained {
  margin: 4rem 0;
}

.sliderCarousel {
  background: $color-hightlight-background;
  padding: 6rem 0;
}

.heading {
  text-align: center;

  .title {
    @include h3;
  }
}

.testimonial {
  line-height: 1.5;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  text-align: center;

  p {
    font-size: 26px;
  }
}

.authorTitle {
  @include h6;
}

.authorRole {
  @include body-s;
}

.testimonialSVG {
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: -2rem;
}

.sliderContainer {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.buttonBack,
.buttonNext {
  @include buttonReset;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);

  @include breakpoint-md {
    margin: 0 -8rem;

  }

  &:disabled {
    opacity: 0.5;
  }
}

.buttonNext {
  right: 0;
}
