@import '../../assets/scss/helpers.scss';

.root {
  @include interpolate(padding-bottom, 32px, 64px);

}

.title {
  @include interpolate(padding-top, 24px, 64px);
}

.mainImage {
  position: relative;
  background: #eee;
  margin-bottom: 2rem;


  @include breakpoint-md {
    position: relative;
    max-width: $layout-width;
    left: 50%;
    right: 50%;
    margin-left: -#{$layout-width / 2};
    margin-right: -#{$layout-width / 2};
    margin-bottom: 4rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;

  @include breakpoint-md {
    grid-template-columns: 3fr 1fr;
  }
}

.blogContent {

  p+p:empty {
    display: none;
  }

  & a {
    color: $color-gold;

    @media (hover: hover) {
      @nest &:hover {
        color: inherit;
      }
    }
  }

  & ul,
  & li {
    list-style: disc;
  }

  & p {}

  & h1,
  & h2 {
    @include h3;
  }
}

.relatedPosts {
  margin-bottom: 0 !important;
}

.metaContent {}

.mainContent {
  @include interpolate(padding-bottom, 32px, 64px);

  /* Copy & Lists */
  p {
    @include body;
    @include interpolate(margin-top, 1rem, 2rem, 20rem, 75rem);
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }
}

.publishedAt {
  margin-top: 24px;
  @include interpolate(margin-bottom, 32px, 120px);
}

.share {
  margin: 0;
  padding: 0;

  .title {
    @include overline;
    margin-bottom: 16px;
  }

  li {
    display: inline-block;
    margin-right: 16px;

    a {
      color: $color-gold;
    }
  }
}

.categories {
  border-top: 1px solid var(--color-black);
  margin: 2rem 0 3rem;

  @nest & ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;
  }

  @nest & ul li {
    padding: 0.25rem 0;
  }
}

.categoriesHeadline {
  margin: 0.5rem 0 0;
}
