@import '../../assets/scss/helpers';

$menu-delay: 3s / 18;
$menu-total-duration: $menu-delay * 3;

$animation-easing: ease-in-out;

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes headerFade {
  0% {
    color: inherit;
    background: inherit;
  }

  100% {
    color: inherit;
    background: inherit;
  }
}

.root {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background: $color-header-background;


  // when nav is activated
  &.showNav {
    z-index: 9999;
    position: fixed;
    top: 0;
    background: transparent;
    color: $text-light;
  }

  &.transparent {
    color: $text-light;
    background: transparent;
    border-bottom: none;
  }
}

.wrapper {
  @extend %container;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-mobile-height;
  transition: height 300ms $animation-easing;
  padding-left: 1rem;
  padding-right: 1rem;

  @include breakpoint-lg {
    height: $header-height;

  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  line-height: 1;
  flex: 1;

  span {
    margin-top: -2px;
    margin-left: 16px;
  }
}

.navHeader {
  margin: -7px 24px 0 0;
  display: none;

  a {
    padding: 20px 10px 24px 10px;
    font-weight: $font-weight-medium;
    text-decoration: none;
    color: inherit;
  }

  .showNav & {
    display: none;
  }
}

.branding {
  @include clear-top-margin;
  font-size: inherit;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  text-decoration: none;
  margin: 0;

  .title {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  a {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    color: $color-primary;

    svg {
      height: 14px;

      @include breakpoint-md {
        height: auto;
      }
    }

    // when nav is active
    // color: $text-light;

    .showNav & {
      color: $text-light;

      &:hover {
        color: $text-light;
        text-decoration: none;
      }
    }
  }
}

.toggleNavButton {
  position: relative;

  &:before {
    content: "";
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    position: absolute;
    padding: 20px;
  }

  $button-size: 20px;
  @include buttonReset;
  transform: scale(0.7);
  appearance: none;
  outline: 0;
  width: $button-size;
  height: $button-size;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s $animation-easing;
  -moz-transition: .5s $animation-easing;
  -o-transition: .5s $animation-easing;
  transition: .5s $animation-easing;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $color-primary;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s $animation-easing;
    -moz-transition: .25s $animation-easing;
    -o-transition: .25s $animation-easing;
    transition: .25s $animation-easing;

    .showNav & {
      background-color: $text-light;
    }

    &:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 6px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 12px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    &:nth-child(1) {

      .showNav & {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 4px;
      }
    }

    &:nth-child(2) {
      .showNav & {
        width: 0%;
        opacity: 0;
      }
    }

    &:nth-child(3) {
      .showNav & {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 14px;
        left: 4px;
      }
    }
  }

  @include breakpoint-md {}

  & svg {
    display: block;
  }
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 100%;
  background: $color-primary;
  color: $text-light;
  z-index: 9997;
  overflow-y: scroll;


  @include breakpoint-md {
    overflow-y: hidden;
    align-items: center;
  }


  .container {
    @extend %container;
    margin-top: $header-mobile-height;
    width: 100%;
    display: flex;
    flex-direction: column;


    @include breakpoint-md {
      margin-top: -$header-height / 2;
      justify-content: space-around;
    }
  }



  .menuWrapper {}


  .navItem {
    @include h2;
    font-weight: $font-weight-medium;
    transition: color 300ms $animation-easing;


    &:hover {
      color: $text-light-subdued;
    }

    span {
      @include overline;
      margin-left: -24px;
      margin-top: 10px;
      float: left;
      display: none;

      @include breakpoint-md {
        display: inline-block;
      }
    }
  }

  .bottomWrapper {
    @include interpolate(margin-top, 24px, 64px)
  }

  .address,
  .kontakt {

    @include breakpoint-md {
      lost-column: 1/3;
    }

    ul {
      padding: 0;
      margin: 0;
    }
  }

  .address {
    @include body;
    color: $text-light-dimmed;
    font-style: normal;
  }

  .kontakt {
    a {
      color: inherit;
    }
  }



  .menuBlock {
    margin: 0;
    padding: 0;
    flex: 1;
    margin-bottom: 0;

    @include breakpoint-md {
      lost-column: 1/3;
      margin-bottom: 32px;
    }

    &>li a {
      display: block;
      color: inherit;
      margin-bottom: 16px;
      line-height: 1;
      text-decoration: none;

      @include breakpoint-md {
        margin-bottom: 0;
      }

    }

  }

  .menuBlockLast {
    margin-bottom: 0;
  }

  .menuBlockLast li a {
    margin-bottom: 16px;
  }
}

.subMenu {
  margin: 0;
  padding: 0;
  color: $text-light-subdued;
  display: none;

  @include breakpoint-md {
    margin: 24px 0 0 0;
    display: block;
  }
}

.subMenu li {
  @include body-l;
  letter-spacing: 0;
  line-height: 1;
  margin: 0;
  padding: 5px;
  font-weight: $font-weight-normal;

  @include breakpoint-md {
    padding: 0;
  }

  a {
    padding: 0;
    margin: 0;
    color: $text-light-subdued;
    transition: color 300ms $animation-easing;

    &:hover {
      color: $text-light;
    }
  }
}

.animate {
  &.root {
    color: $text-light;


    .branding a {
      transition: color 500ms $animation-easing;
    }

    .toggleNavButton span {
      transition: all 300ms $animation-easing,
    }
  }
}

.animateEnterActive {

  &.root {
    background: inherit;
    animation: 200ms $animation-easing 0s forwards;
    animation-name: headerFade;
  }

  &.nav {
    animation: 0.2s $animation-easing 0s backwards;
    animation-name: fadeIn;
  }

  .menuBlock,
  .block,
  .subMenu {
    animation: 0.5s $animation-easing 0s backwards;
    animation-name: fadeIn;
  }

  @for $i from 1 through 3 {
    .menuBlock {

      // :nth-child(1-9)
      &:nth-child(#{$i}) {
        // Delay the animation. Delay increases as items loop.
        animation-delay: $i * ($menu-delay);

        @for $i from 1 through 5 {
          .subMenu li:nth-child(#{$i}) {
            animation-delay: 100ms + $i * (5s / 18);
          }
        }
      }
    }
  }

  @for $i from 1 through 2 {
    .block {
      &:nth-child(#{$i}) {
        animation-delay: ($menu-delay * 2) + $i * ($menu-delay);
      }
    }
  }

}

.animateExitActive {

  .menuBlock,
  .block,
  .subMenu {
    animation: 300ms ease 0s forwards reverse;
    animation-name: fadeIn;
  }

  @for $i from 1 through 3 {
    .menuBlock {

      // :nth-child(1-9)
      &:nth-child(#{$i}) {
        // Delay the animation. Delay increases as items loop.
        animation-delay: $i * ($menu-delay);

        @for $i from 1 through 5 {
          .subMenu li:nth-child(#{$i}) {
            animation-delay: $i * (2s / 18);
          }
        }
      }
    }
  }

  @for $i from 1 through 2 {
    .block {
      &:nth-child(#{$i}) {
        animation-delay: $i * ($menu-delay);
      }
    }
  }
}

.animateExit {

  &.nav {
    animation: 300ms $animation-easing 200ms forwards reverse;
    animation-name: fadeIn;
  }

  &.root {
    animation: 300ms $animation-easing 200ms backwards reverse;
    animation-name: headerFade;

    .toggleNavButton span {
      transition: all 300ms 200ms $animation-easing;
    }

    .branding a,
    .toggleNavButton span {
      transition:
        all 300ms 200ms $animation-easing,

      ;
    }
  }
}

:global(.headroom--scrolled) .transparent {
  background: $color-white;
  color: $text-dark;

  &.animateEnterActive {

    &.root {
      background: $color-primary !important;
      animation-duration: 0s;
    }
  }

  &.showNav {
    background: $color-primary;

    .branding {
      color: $text-light;
    }

    .toggleNavButton span {
      background: $text-light;
    }
  }

  .branding {
    color: $text-dark;
  }

  .toggleNavButton span {
    background: $text-dark;
  }
}


.transparent {

  background: transparent;

  .branding {
    color: $text-light;
  }

  .toggleNavButton span {
    background: $text-light;
  }
}
