@import '../../assets/scss/helpers';

// .root {
//   position: relative;
//   lost-center: $layout-width;
//   z-index: 100;
//   background: $color-header-background;
//   border-bottom: 1px solid $color-header-border;

//   &.transparent {
//     color: $text-light;
//     background: transparent;
//     border-bottom: none;
//     transition: all 200ms ease-in-out;

//     &:hover {
//       background: $color-header-background;
//     }
//   }
// }

.root {
  position: relative;
  z-index: 100;
  width: 100%;
  background: $color-header-background;

  // when nav is activated
  &.showNav {
    z-index: 9999;
    position: fixed;
    top: 0;
    background: $color-primary;
    color: $text-light;
  }

  &.transparent {
    color: $text-light;
    background: white;
    border-bottom: none;
  }
}

.wrapper {
  @extend %container;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-mobile-height;
  transition: height 300ms ease-in-out;
  padding-left: 1rem;
  padding-right: 1rem;

  @include breakpoint-lg {
    height: $header-height;

  }
}

.branding {
  @include clear-top-margin;
  flex: 1;
  font-size: inherit;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  text-decoration: none;
  margin: 0;

  .title {
    opacity: 0;
    visibility: hidden;
  }

  a {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    color: $color-primary;

    // when nav is active
    // color: $text-light;

    .showNav & {
      color: $text-light;

      &:hover {
        color: $text-light;
        text-decoration: none;
      }
    }
  }
}

.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin-right: -5px;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  cursor: pointer;
  color: inherit;

  @include breakpoint-md {}

  & svg {
    display: block;
  }
}

.nav {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: $color-primary;
  color: $text-light;
  z-index: 9997;
  overflow-y: scroll;


  @include breakpoint-md {
    overflow-y: hidden;
  }


  .container {
    @extend %container;
    margin-top: $header-mobile-height;
    width: 100%;
    display: flex;
    flex-direction: column;


    @include breakpoint-md {
      margin-top: -$header-height / 2;
      justify-content: space-around;
    }
  }

  .menuWrapper {}

  &.showNav {
    display: flex;

    @include breakpoint-md {
      align-items: center;
    }
  }

  .navItem {
    @include h2;
    font-weight: $font-weight-medium;
    transition: color 300ms ease-in-out;


    &:hover {
      color: $text-light-subdued;
    }

    span {
      @include overline;
      margin-left: -24px;
      margin-top: 10px;
      float: left;
      display: none;

      @include breakpoint-md {
        display: inline-block;
      }
    }
  }

  .bottomWrapper {
    @include interpolate(margin-top, 24px, 64px)
  }

  .address,
  .kontakt {

    @include breakpoint-md {
      lost-column: 1/3;
    }

    ul {
      padding: 0;
      margin: 0;
    }
  }

  .address {
    @include body;
    color: $text-light-dimmed;
    font-style: normal;
  }

  .kontakt {
    a {
      color: inherit;
    }
  }



  .menuBlock {
    margin: 0;
    padding: 0;
    flex: 1;
    margin-bottom: 32px;

    @include breakpoint-md {
      lost-column: 1/3;
    }

    &>li a {
      display: block;
      color: inherit;
      text-decoration: none;


    }

  }

  .menuBlockLast {
    margin-bottom: 0;
  }

  .menuBlockLast li a {
    margin-bottom: 16px;
  }
}

.subMenu {
  margin: 0;
  padding: 0;
  color: $text-light-subdued;

  @include breakpoint-md {
    margin: 24px 0 0 0;
  }
}

.subMenu li {
  @include body-l;
  letter-spacing: 0;
  line-height: 1;
  margin: 0;
  padding: 5px;
  font-weight: $font-weight-normal;

  @include breakpoint-md {
    padding: 0;
  }

  a {
    padding: 0;
    margin: 0;
    color: $text-light-subdued;
    transition: color 300ms ease-in-out;

    &:hover {
      color: $text-light;
    }
  }
}

.showNav {
  display: block;
}

.book {
  display: none;
  @extend %button;

  .transparent & {
    @extend %button,
    %buttonSecondaryLight;

    &:hover {
      @extend %button;
    }
  }

  @include breakpoint-md {
    display: block;
  }
}
