@import '../../assets/scss/helpers';

.features {
  background: $color-primary;
  color: $text-light;

  .heading {
    @include interpolate(margin-bottom, 24px, 80px);
  }

  .featureItem {
    @include interpolate(margin-bottom, 24px, 0px);

    @include breakpoint-md {
      lost-column: 1/3 3 30px;
    }
  }

  .grid {
    lost-utility: clearfix;
    position: relative;
    display: block;
  }

  .title {
    @include h6;
    color: inherit;
  }

  a {
    margin-top: 0;
    color: inherit;
  }
}
