@import '../../assets/scss/helpers';

.features {
  color: inherit;

  .heading {
    @include interpolate(margin-bottom, 24px, 80px);
  }

  .image {
    max-width: 100%;
    width: auto;

    >div {
      min-width: 46px;
    }
  }

  .grid {
    display: grid;
    grid-gap: 48px 24px;
    position: relative;
    grid-template-columns: 1fr;

    &.oneColumns {
      @include breakpoint-md {
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
      }

      .featureItem {
        text-align: center;
        lost-center: 400px;

      }
    }

    &.twoColumns {
      @include breakpoint-md {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &.threeColumns {
      @include breakpoint-md {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &.fourColumns {
      @include breakpoint-md {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  .featureItem {
    @include interpolate(margin-bottom, 24px, 0px);
  }



  .title {
    @include h6;

    +p {
      margin-top: 12px;
    }
  }

  a {
    margin-top: 0;
    color: inherit;
  }
}
