@import url("https://use.typekit.net/zhb8zhr.css");

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: normal;
  src: url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: normal;
  src: url('../fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk-Medium.woff') format('woff');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: bold;
  src: url('../fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk-Bold.woff') format('woff');
}
