@import '../../assets/scss/helpers';

.icon {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;

  svg {
    width: 16px;
    height: 16px;
    margin-top: 2.5px;
    margin-left: 4px;
  }
}

.button {
  @extend %button;
}

.buttonLink {
  @extend %buttonLink;
}

.buttonSecondary {
  @extend %buttonSecondary;
}

.buttonGhost {
  @extend %buttonGhost;
}

.buttonPrimary {
  @extend %button;
}

.buttonLarge {
  @extend %button,
  %buttonLarge;
}

.buttonSmall {
  @extend %buttonSmall;
}
