@import '../../assets/scss/helpers';

.form {
  display: grid;
  align-self: start;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px 16px;
  grid-template-rows: auto;


  .message {
    grid-column: span 2;
    place-self: stretch;
  }


  .button {
    grid-column: 2;
    align-self: start;
    justify-self: flex-end;
  }
}

.label h3 {
  @include overline;
  margin-bottom: 1rem;
}

.input,
.select,
.textarea,
.selectWrapper {
  &.dark {
    background: rgba(255, 255, 255, 0.1);
    color: $text-light;
    border: none;
  }
}

.input {
  composes: root from '../Input/Input.module.scss';
}

.selectWrapper {
  composes: root from '../Select/Select.module.scss';

  &.dark {
    background: lighten($color-primary, 10%);
    border: 0px;

    @include placeholder {
      color: $text-light-dimmed;
    }
  }

  svg {
    margin-right: 5px;
    z-index: 50;
  }

  &.dark {
    background: rgba(255, 255, 255, 0.1);
  }

}

.select {
  composes: select from '../Select/Select.module.scss'
}

.textarea {
  composes: root from '../Textarea/Textarea.module.scss';
}
