@import '../../assets/scss/helpers';

.form {
  display: grid;
  align-self: start;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px 16px;
  grid-template-rows: auto;


  .message {
    grid-column: span 2;
    place-self: stretch;
  }


  .button {
    grid-column: 2;
    align-self: start;
    justify-self: flex-end;
  }
}

.label h3 {
  @include overline;
  margin-bottom: 1rem;
}

.input {
  composes: root from '../Input/Input.module.scss';
}

.selectWrapper {
  composes: root from '../Select/Select.module.scss'
}

.select {
  composes: select from '../Select/Select.module.scss'
}

.textarea {
  composes: root from '../Textarea/Textarea.module.scss';
}
