@import '../../assets/scss/helpers';

.root {
  background: $color-hightlight-background;
  color: $color-white;
  margin: 2rem -1.5rem;
  overflow: hidden;
  padding: 1rem;

  @include breakpoint-md {
    margin: 2rem 0;
  }

  ul {
    max-width: 100% !important;
  }

  li {
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.nav {
  padding: 0.5rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;

  button {
    outline: none;
    appearance: none;
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
    color: $text-dark;
    margin: 0;
    padding: 0;

  }

  button[disabled] {
    opacity: 0.2;
    cursor: unset;
  }
}

.sliderContained {
  position: relative;
  margin: 4rem 0;
}

.sliderContainer {
  position: relative;
  margin: 0 auto;
  overflow: visible;
}



.buttonBack,
.buttonNext {
  @include buttonReset;
  position: absolute;
  margin: 0 auto;
  top: -30px;
  color: $color-primary;

  &:disabled {
    opacity: 0.5;
  }
}

.buttonNext {
  right: 0;
}

.slide {
  &>div {
    padding: 0 0.5rem !important;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
