@import '../../assets/scss/helpers';

.root {
  @include body;
  color: inherit;
  background: $color-input-background;
  border: 1px solid $color-input-border;
  height: 48px;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;

  @include placeholder {
    color: $text-dimmed;
  }

  &:hover,
  &:focus {
    border: 1px solid $color-input-border-hover;
  }

  &.dark {
    background: lighten($color-primary, 10%);
    border: 0px;

    @include placeholder {
      color: $text-light-dimmed;
    }
  }
}
