@import '../../assets/scss/helpers';

.root {
  position: relative;
  display: block;
  color: $text-light;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;

  &>div {
    width: 100%;
    height: auto;
    position: relative;
    transition: transform 300ms ease-in-out;

    .root:hover & {
      transform: scale(1.05);
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 10;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    }
  }
}

.description {
  margin-top: 0;
}

.content {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 20;
  text-align: center;
  width: calc(100% - 60px - 24px);
  color: $text-light;
}

.title {
  @include h5;
  color: inherit !important;

}

.title {}

.excerpt {
  & p {
    margin: 0.5em 0;
  }

  & strong {
    font-weight: 600;
  }
}
