@import '../../assets/scss/helpers';

.root {
  padding-top: 0;
}

.title {
  @include overline;
  margin-bottom: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;

  @include breakpoint-md {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 32px;
  }
}
