@import '../../assets/scss/helpers';

.sectionHeading {
  text-align: center;
  color: $text-dark;
}

.leftAligned,
.rightAligned {
  text-align: left;
  lost-center: 100%;
}

.centerAligned {
  text-align: center;
  lost-center: 600px;
}

.rightAligned {
  text-align: right;
}

.narrow {
  lost-center: 750px;
}

.buttonWrapper {
  margin-top: 1.5rem;
}

.buttonSecondary {
  background: red;
}

.caption,
.title,
.lead {

  .light & {
    color: $text-light;
  }
}

.caption {
  @include overline;
}

.caption+.title {
  margin-top: 1rem;
}

.title {
  @include h3;

}

.titleLarge {
  @include h1;
}

.lead {
  @include body-l;
}
