@import '../../assets/scss/helpers';

.sectionHeading {
  text-align: center;
  color: $text-dark;
}

.leftAligned,
.rightAligned {
  text-align: left;
  lost-center: 100%;
}

.centerAligned {
  text-align: center;
  lost-center: 600px;
}

.rightAligned {
  text-align: right;
}

.narrow {
  lost-center: 750px;
}

.buttonWrapper {
  margin-top: 1.5rem;
}

.buttonSecondary {
  background: red;
}

.caption,
.title,
.lead {
  color: inherit;

  .dark & {
    color: $text-light;
  }
}

.caption {
  @include overline;
}

.caption+.title {
  margin-top: 1rem;
}

.title {
  @include h3;
}

.titleLargest {
  @include h1;
}

.titleMedium {
  @include h3;
}


.titleLarge {
  @include h2;
}

.titleSmall {
  @include h4;
}

.richText {
  @include body-l;
  color: $text-subdued;

  a {
    color: darken($color-gold, 15%);

    strong {
      font-weight: normal;
    }
  }

  &>div {
    @include body-l;
    color: $text-subdued;

    a {
      color: darken($color-gold, 15%);

      strong {
        font-weight: normal;
      }
    }
  }

  ul {
    padding: 0;

    li {
      padding-left: 32px;
      background: url('../../assets/images/icon-check.svg') left 2px no-repeat;
      margin: 6px 0;
    }
  }
}
