@import '../../assets/scss/helpers';

.summary {
  color: inherit;

  .grid {
    display: grid;
    grid-gap: 48px;
    text-align: left;
    align-items: center;

    @include breakpoint-md {
      grid-template-columns: repeat(2, 1fr);

    }

    &.left {
      .image {
        order: 1;
      }

      .heading {
        order: 2;
      }
    }
  }





  .heading {
    @include interpolate(margin-bottom, 24px, 120px);
    margin-left: 0;
    margin-right: 0;
    color: inherit;

    @include breakpoint-md {
      margin-bottom: 0;
    }
  }

  .image {

    img {
      max-width: 100%;
    }
  }
}
