@import '../../assets/scss/helpers';

.summary {
  color: inherit;

  .grid {
    display: grid;
    text-align: left;
    grid-gap: 24px;
    align-items: center;
    grid-template-columns: 1fr;

    @include breakpoint-md {
      grid-template-columns: 45% 55%;
      grid-gap: 48px;
    }

    &.above {

      .image {
        order: 1;
      }

      .heading {
        order: 2;
      }
    }

    &.below {

      .image {
        order: 2;
      }

      .heading {
        order: 1;
      }
    }

    &.right {

      @include breakpoint-md {
        .image {
          order: 2;
        }

        .heading {
          order: 1;
        }
      }
    }

    &.left {
      @include breakpoint-md {
        grid-template-columns: 55% 45%;

        .image {
          order: 1;
        }

        .heading {
          order: 2;
        }
      }
    }
  }


  .heading {
    margin-left: 0;
    margin-right: 0;
    color: inherit;

    @include breakpoint-md {
      margin-bottom: 0;
    }

    &:only-child {
      margin-bottom: 0;
    }
  }

  .image {

    img {
      max-width: 100%;
    }
  }
}
