@import '../../assets/scss/helpers';

.footer {
  background: $color-footer-background;
  border-top: 1px solid $color-footer-border;
  color: $text-dark;

  li a {
    color: inherit;
    text-decoration: none;
  }
}

.logo {
  color: inherit;
}

.footerWrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.menu,
.partners {
  lost-column: 1/2;
}

.contact {

  @include breakpoint-md {
    lost-column: 1/2.5;
  }

  ul {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0;
  }
}

.menuWrapper {

  @include breakpoint-md {
    lost-column: 1/2;

  }
}

.menu {
  @include interpolate(margin-bottom, 32px, 32px);
  margin-top: 12px;

  h5 {
    @include overline;
  }

  ul {
    margin: 0;
    margin-top: 8px;
    padding: 0;
  }

  li a {
    display: block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-decoration: underline;
  }
}

.partners {

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  li {
    margin-left: 2rem;
  }
}

.siteInfo {
  a {
    color: inherit;
    text-decoration: none;
  }
}
