@import '../../assets/scss/helpers';

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageWrapper {
  display: block;
  position: relative;
  background: $color-hightlight-background;

  @include breakpoint-md {
    height: 100%;

    &>div:first-child {
      height: 100%;
    }
  }
}

.hero {
  position: relative;

  @include breakpoint-md {
    position: relative;
    overflow: hidden;
    height: calc(100vh - #{$header-height});
    padding: 0;
  }
}

// Homepage specific
.homepage {
  &.hero {
    @include breakpoint-md {
      height: calc(85vh - #{$header-height});
      margin-top: -#{$header-height / 1.5};
      padding: 0;
    }
  }

  +section {
    margin-top: 0;
    padding-top: 0;

    @include breakpoint-md {
      margin-top: -15vh;
      @include interpolate(padding-top, 48px, 120px);
    }
  }
}

.button {
  margin-top: 24px;
}

.alignRight,
.alignTopRight {
  text-align: left;
}

.alignLeft,
.alignTopLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;

  @include breakpoint-md {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: $text-dark;
    padding-top: 0;
    padding-bottom: 0;

    .alignTopLeft &,
    .alignTopRight &,
    .alignTopCenter & {
      top: 64px;
      transform: translate(-50%, 0%);
    }

    .alignBottomLeft &,
    .alignBottomRight &,
    .alignBottomCenter & {
      top: auto;
      bottom: 64px;
      transform: translate(-50%, 0%);
    }
  }
}

.content {
  max-width: 650px;

  .alignCenter & {
    margin: 0 auto;
  }

  @include breakpoint-md {

    .alignLeft &,
    .alignTopLeft & {
      padding-left: 0;
    }

    .alignCenter & {
      lost-center: 820px;

      .lead {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .alignRight &,
    .alignTopRight &,
    .alignTopCenter &,
    .alignBottomRight & {
      margin-right: 0;
      margin-left: auto;
    }

    .alignTopCenter &,
    .alignBottomCenter & {
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      .lead {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

// Hero Content

.title {
  @include h1;

  .light & {
    @include breakpoint-md {
      color: $text-light;
    }
  }
}

.caption {
  @include overline;

  .light & {
    @include breakpoint-md {
      color: $text-light;
    }
  }

  +.title {
    margin-top: 16px;
  }
}

.lead,
.subheading {
  @include body-l;
  max-width: 500px;
  color: $text-subdued;

  .light & {
    @include breakpoint-md {
      color: $text-dimmed;
    }
  }

  .alignCenter & {
    margin-left: auto;
    margin-right: auto;
  }
}

small+.title {
  margin-top: 1rem;
}

.transparent {
  margin-top: -$header-height;
}
