@import '../../assets/scss/helpers';

.section {
  @extend %section;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-dark;
  }

  &.dark {
    color: $text-light;
    background-color: $color-primary;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $text-light;
    }

    p {
      color: $text-light-dimmed;
    }
  }

  &.highlight {
    background-color: $color-hightlight-background;

    +.highlight {
      padding-top: 0;
    }
  }

  &.white {
    +.white {
      padding-top: 0;
    }
  }
}

.sectionDivider {
  @extend %section;
  border-top: 1px solid $color-divider;
  border-bottom: 1px solid $color-divider;

  .containerNarrow {
    max-width: 780px;
  }
}

.sectionTitle {
  color: inherit;
}
